<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/edit/<%= user.id %>?_method = PUT" method="POST">
        Name:  <br>
        <input type="text" name="name" id="" value="<%= user.name %>"> <br> <br>
        Age: <br>
        <input type="number" name="age" min="0" id="" value="<%= user.age %>"> <br> <br>

        <button type="submit">Edit User</button>
    </form>
</body>
</html>